# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\yonat\Desktop\קורסים\סמסטר ח\למידה חישובית\final project\DeepSuperLearner\DeepSuperLearner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
